.btn {
    // padding: 0px 20px;
    min-height: 70px;
    background: $color-orange;
    border-radius: 82px;
    font-family: $font-Gilroy;
    font-weight: 400;
    font-size: 16px;
    line-height: 96.69%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    cursor: pointer;
}