.btn {
    // padding: 0px 20px;
    min-height: 70px;
    background: $color-orange;
    border-radius: 82px;
    font-family: $font-Gilroy;
    font-weight: 400;
    font-size: 16px;
    line-height: 96.69%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    cursor: pointer;
    box-shadow: 0 5px 0 #922301;
    transition: all 0.3s;
    position: relative;
    top: 0;
    &:hover {
        // transform: scale(1.05px);
        // background-color: rgb(197, 72, 0);
        background-color: $color-blue;
        box-shadow: 0 5px 0 #0c6c8f;
        // box-shadow: 0 2px 0 #0c6c8f;
    }
    &:active {
        top: 3px;
        // box-shadow: 0 2px 0 #922301;
        box-shadow: 0 2px 0 #0c6c8f;
    }
}