.main {
    &__education {
        position: relative;
        z-index: 30;
        padding: 42px 0px 87.5px 0px;
    }
}
.education {
    background-color: #fff;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    &__title {
        max-width: 598px;
        margin: 0px auto 0px auto;
    }
    &__container {
    }
    &__content {
    }
    &__wrapper {
        flex-wrap: wrap;
        display: flex;
        justify-content: space-around;
        &:not(:last-child) {
            // margin: 0px 0px 27px 0px;
        }
    }
    // &__wrapper_2 {
    //     display: flex;
    //     justify-content: center;
    // }
    &__item {
        flex: 0 1 250px;
        cursor: pointer;
        // max-width: 250px;
        background: #EAF2F5;
        border-radius: 30px;
        padding: 50px 35px 31px 35px;
        transition: all 0.3s;
        margin: 27px 0px 0px 0px;
        &:nth-child(5) {
            // margin: 27px 0px 0px 0px;
            margin: 27px 0px 0px 148px;
        }
        &:nth-child(7) {
            // margin: 27px 0px 0px 0px;
            margin: 27px 148px 0px 0px;
        }
    }
    &__body {
        display: flex;
        flex-direction: column;
        min-height: 100%;
        align-items: center;
        justify-content: flex-start;
    }
    &__img {
        // align-items: flex-start;
        // justify-self: start;
        justify-items: flex-start;
        // justify-items: start;
        // align-items: center;
        &:not(:last-child) {
            margin: 0px 0px 19px 0px;
        }
    }
    &__subtitle {
        flex: 1 1 auto;
        &:not(:last-child) {
            margin: 0px 0px 10px 0px;
        }
        // margin: 0px 0px 10px 0px;
        max-width: 166px;
        text-align: center;
        font-weight: 600;
        font-size: 16px;
        line-height: 116%;  
        color: #22253B;
    }
    &__text {
        font-weight: 400;
        font-size: 13px;
        line-height: 115%;
        text-align: center;
        color: #22253B;
    }
}
.title {
}
.container {
}
