.main {
    &__help {
        padding: 91px 0px 91px 0px;
        background-color: #fff;
        border-top-left-radius: 80px;
        border-top-right-radius: 80px;
    }
}
.help {
    &__container {
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__item {
        margin: 0px 0px 30px 0px;
        padding: 41px 50px;
        background: #EAF2F5;
        border-radius: 40px;
    }
    &__item_1 {
        max-width: 401px;
    }
    &__item_2 {
        padding: 54px 81px 49px 100px;
        max-width: 730px;
    }
    &__item_3 {
        padding: 54px 128px 55px 100px;
        max-width: 730px;
        max-height: 321px;
    } 
    &__item_4 {
        // flex: 0 1 401px;
        padding: 0 41px;
        max-height: 321px;
        // max-width: 401px;
    }
    &__title {
        font-weight: 600;
        font-size: 32px;
        color: #22253B;
        &:not(:last-child) {
            margin: 0px 0px 22px 0px;
        }
    }
    &__text {
        &_2 {
            font-weight: 400;
            font-size: 16px;
            line-height: 156%;
            color: #22253B;
        }
        &_1 {
            &:not(:last-child) {
                margin: 0px 0px 15px 0px;
            }
        }
        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 156%;
            color: #22253B;
        }
    }
}
.container {
}
